body {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

footer {
  font-family: "EB Garamond", serif;
  text-align: center;
  color: white;
  border-top: 3px solid white;
  font-size: x-large;
  font-weight: bold;
}

image {
  border-radius: 10px;
}

.heading {
  width: 100%;
  height: 50px;
  margin: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "EB Garamond", serif;
  font-size: 1.1cm;
  font-weight: normal;
  color: black;
}

.navbar {
  display: flex;
  border: 3px solid white;
  border-radius: 10px;
}

.rectangle {
  width: 33%;
  height: 50px;
  margin: 5px;
  border: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  float: left;
}

.link {
  color: white;
  text-decoration: none;
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: xx-large;
}

.text_left {
  width: 50%;
  height: 400px;
  float: left;
  font-family: "EB Garamond", serif;
  font-weight: bold;
  font-size: xx-large;
  color: rgb(0, 0, 0);
}

.text_left_main {
  font-family: "EB Garamond", serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  height: auto;
  width: 400px;
  margin: 10px;
  margin-bottom: 150px;
  text-align: left;
  display: flex;
  text-wrap: wrap;
  border-radius: 10px;
  border: 3px white;
}

.pic_left {
  image-rendering: auto;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: auto;
  max-width: 920px;
  width: 60%;
  height: 540px;
  float: left;
  margin: 10px;
  border-radius: 20px;
  display: flexbox;
  border: 3px solid black;
}

.boss_info {
  background-color: rgba(121, 121, 116, 0.6);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  max-width: 540px;
  width: 38%;
  height: 540px;
  float: left;
  margin: 10px;
  border-radius: 20px;
  border: 3px solid black;
  display: flexbox;
}

.boss {
  position: inherit;
  resize: both;
}
li {
  font-family: "EB Garamond", serif;
  font-size: x-large;
  color: black;
  font-weight: bold;
  margin: 5px;
}

.info_text {
  font-family: "EB Garamond", serif;
  font-size: x-large;
  color: black;
  font-weight: bold;
  margin: 20px;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
