body {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

footer {
  font-family: "EB Garamond", serif;
  text-align: center;
  color: white;
  border-top: 3px solid white;
  font-size: x-large;
  font-weight: bold;
}

image {
  border-radius: 10px;
}

.heading {
  width: 100%;
  height: 50px;
  margin: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "EB Garamond", serif;
  font-size: min(10vw, 10vh, 50px);
  font-weight: normal;
  color: black;
}

.navbar {
  display: flex;
  border: 3px solid white;
  border-radius: 10px;
}

.rectangle {
  width: 33%;
  height: 50px;
  margin: 5px;
  border: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  float: left;
}

.link {
  color: white;
  text-decoration: none;
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: xx-large;
}

.text_left {
  width: 50%;
  height: 400px;
  float: left;
  font-family: "EB Garamond", serif;
  font-weight: bold;
  font-size: xx-large;
  color: rgb(0, 0, 0);
}

.text_left_main {
  font-family: "EB Garamond", serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  height: auto;
  width: 400px;
  margin: 10px;
  margin-bottom: 150px;
  text-align: left;
  display: flex;
  text-wrap: wrap;
  border-radius: 10px;
  border: 3px white;
}

.pic_left {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  max-width: 920px;
  width: 58vw;
  height: 100vh;
  max-height: 540px;
  min-height: 300px;
  float: left;
  margin: 0.5vw;
  border-radius: 20px;
  display: flexbox;
  border: 3px solid black;
}

.boss_info {
  background-color: rgba(121, 121, 116, 0.6);
  font-family: "EB Garamond", serif;
  color: black;
  max-width: 540px;
  max-height: 540px;
  width: 36vw;
  height: 100vh;
  min-height: 300px;
  float: left;
  margin: 0.5vw;
  border-radius: 20px;
  border: 3px solid black;
  display: flexbox;
}

.boss {
  width: 98vw;
  height: auto;
}

li {
  font-family: "EB Garamond", serif;
  font-size: min(1.5vw, 5vh, 24px);
  color: black;
  font-weight: bold;
  margin: 5px;
}

.info_text {
  font-family: "EB Garamond", serif;
  font-size: min(1.5vw, 4.5vh, 24px);
  color: black;
  font-weight: bold;
  margin: 20px;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  width: 32vw;
  height: 34vw;
  border: 3px solid black;
  margin: 0.5vw;
  border-radius: 20px;
  float: left;
  display: flexbox;
}

.video_div {
  justify-content: center;
}

video {
  border: 3px solid black;
  border-radius: 20px;
  width: 96.5vw;
  height: auto;
  margin: 0.5vw;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.contact-section {
  width: 90.5vw;
  margin: 2.5vw;
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgba(121, 121, 116, 0.6);
  font-family: "EB Garamond", serif;
  height: auto;
}

form label {
  display: block;
  margin: 1vw 0 0.5vw;
  font-weight: bold;
  font-size: 1.5vw;
}

form input[type="email"],
form select,
form textarea {
  background-color: rgba(121, 121, 116, 0.6);
  width: 89vw;
  padding: 0.5vw;
  margin-bottom: 5vh;
  border: 3px solid black;
  border-radius: 10px;
  font-family: "EB Garamond", serif;
  font-weight: bold;
  font-size: 1.5vw;
  resize: none;
}

form input[type="submit"] {
  width: 100%;
  padding: 1vw;
  border: none;
  background-color: rgb(29, 29, 29);
  color: white;
  font-size: 1.5vw;
  border-radius: 10px;
  cursor: pointer;
  font-family: "EB Garamond", serif;
}

form input[type="submit"]:hover {
  background-color: rgb(58, 57, 57);
}

::placeholder {
  color: rgb(58, 57, 57);
}
